            <div class="ui basic segment">
                <div class="ui hidden divider"></div>
                <h1 class="ui header" id="hi-party">Hi, <%= party.name %></h1>
                <% if (party.voter && party.votestoassign) { %>
                    <p>Choose your favourite candidate.</p>
                    <p>Think carefully - you only have one vote :)</p>
                <% } else if (party.voter && !party.votestoassign) { %>
                    <p>Wait a moment while your vote is assigned.</p>
                    <p>In the meantime - check out the candidates below :)</p>
                <% } else { %>
                    <p>It doesn't look like you're registered to vote :(</p>
                    <p>Floating business guy says 'Soz'</p>
                    <p  style="font-size:10em;margin:0;">🕴</p>                
                    <button class="ui blue button" id="register">
                        Register now
                    </button>
                <% } %>
            </div>
            <div class="ui basic segment">
                <% if (party.voter) { %>
                    <h2 class="ui header">Candidates</h2>
                    <div class="ui hidden divider"></div>
                    <div class="ui cards" id="candidates-index">
                        <% candidates.forEach(candidate => {%>
                            <div class="ui card">
                                <div class="image" style="min-height: 7em; background: <%=
                                randomcolor({
                                luminosity: 'light'
                                }) %>;">
                                    <img src="<%= candidate.screenshotUrl %>" alt="">
                                </div>
                                <div class="content">
                                    <div class="header"><%= candidate.name %></div>
                                    <% if (!!candidate.candidateUrl) { %>
                                        <div class="description">
                                            <a href="<%= candidate.candidateUrl %>" target="_blank">See project</a>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="extra content">
                                    <% if (party.votestoassign && !!party.votestoassign.length) { %>
                                        <div class="ui blue button vote-for" id="<%= candidate.id %>" >Vote for <%= candidate.name %></div>
                                    <% } else { %>
                                        <div class="ui disabled button">Wait - no votes assigned</div>
                                    <% } %>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>        
            <script>

                $('#register').one('click', function () {
                    localStorage.clear();
                    window.location = '/';
                });

                var voteForButton = $('.vote-for'),
                    candidatesIndex = $('#candidates-index'),
                    candidatesIndexContainer = candidatesIndex.parent()

                voteForButton.one('click', function () {
                    voteForButton
                        .removeClass('green')
                        .addClass('disabled')
                        .html('Vote submitted');
                    candidatesIndexContainer.addClass('loading');
                    // check they still have a vote 
                    var voter = localStorage.getItem('blockchain-vote-party-id'),
                        candidate = this.id;
                    $.ajax({
                        type        : 'GET',
                        url         : '/api/party/read',
                        data        : { id: voter }
                    }).done(function(data){
                        // if they do, transfter
                        var vote = data.data[0].votestoassign[0];
                        if (!!vote) {
                            transferVote(voter, vote, candidate);
                        } else {
                            console.log('No vote :(');
                        }
                    })                
                });

                function transferVote(voter, vote, candidate) {
                    // first, take vote from voter
                    $.ajax({
                        type        : 'POST',
                        url         : '/api/party/update',
                        data        : {
                            'id'               : voter, 
                            'votesToAssign'    : '', 
                            'votesTransferred' : vote, 
                            'votesReceived'    : ''
                        }
                    }).done( function(data) {  // using the done promise callback
                        if (data.state === 'success') {
                            receiveVote(candidate, vote);
                        }
                    });
                }

                function receiveVote(candidate, vote) {
                    // first, take vote from voter
                    $.ajax({
                        type        : 'POST',
                        url         : '/api/party/update',
                        data        : {
                            'id'               : candidate, 
                            'votesToAssign'    : '', 
                            'votesTransferred' : '', 
                            'votesReceived'    : vote
                        }
                    }).done( function(data) {  // using the done promise callback
                        if (data.state === 'success') {
                            
                        }
                    });
                }

            </script>
